In [22]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn import preprocessing

In [23]:
Dataa1 = pd.read_csv("SalaryData_Train(1).csv",encoding = "ISO-8859-1")
Dataa2 = pd.read_csv("SalaryData_Test(1).csv",encoding = "ISO-8859-1")
data1 = Dataa1.iloc[:,[0,3,9,10,11,13]]
data2 = Dataa2.iloc[:,[0,3,9,10,11,13]]

In [24]:
label_encoder = preprocessing.LabelEncoder()
Dataa1['Salary']= label_encoder.fit_transform(Dataa1['Salary'])
Dataa2['Salary']= label_encoder.fit_transform(Dataa2['Salary'])

In [25]:
x1_train =  Dataa1.iloc[:,[0,3,9,10,11,13]]
y1_train = Dataa1['Salary']
x1_test = Dataa2.iloc[:,[0,3,9,10,11,13]]
y1_test = Dataa2['Salary']

In [26]:
x1_train, x1_test, y1_train, y1_test

(       age  educationno  capitalgain  capitalloss  hoursperweek  Salary
 0       39           13         2174            0            40       0
 1       50           13            0            0            13       0
 2       38            9            0            0            40       0
 3       53            7            0            0            40       0
 4       28           13            0            0            40       0
 ...    ...          ...          ...          ...           ...     ...
 30156   27           12            0            0            38       0
 30157   40            9            0            0            40       1
 30158   58            9            0            0            40       0
 30159   22            9            0            0            20       0
 30160   52            9        15024            0            40       1

 [30161 rows x 6 columns],
        age  educationno  capitalgain  capitalloss  hoursperweek  Salary
 0       25            7            0            0            40       0
 1       38            9            0            0            50       0
 2       28           12            0            0            40       1
 3       44           10         7688            0            40       1
 4       34            6            0            0            30       0
 ...    ...          ...          ...          ...           ...     ...
 15055   33           13            0            0            40       0
 15056   39           13            0            0            36       0
 15057   38           13            0            0            50       0
 15058   44           13         5455            0            40       0
 15059   35           13            0            0            60       1

 [15060 rows x 6 columns],
 0        0
 1        0
 2        0
 3        0
 4        0
         ..
 30156    0
 30157    1
 30158    0
 30159    0
 30160    1
 Name: Salary, Length: 30161, dtype: int32,
 0        0
 1        0
 2        1
 3        1
 4        0
         ..
 15055    0
 15056    0
 15057    0
 15058    0
 15059    1
 Name: Salary, Length: 15060, dtype: int32)

In [27]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x1_train = sc.fit_transform(x1_train)
x1_test = sc.transform(x1_test)

In [28]:
classifier = GaussianNB()
classifier.fit(x1_train, y1_train)

GaussianNB()

In [29]:
y_pred = classifier.predict(x1_test) 
y_pred

array([0, 0, 1, ..., 0, 0, 1])

In [30]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y1_test, y_pred)
from sklearn.metrics import accuracy_score 
print ("Accuracy : ", accuracy_score(y1_test, y_pred))
cm

Accuracy :  1.0

array([[11360,     0],
       [    0,  3700]], dtype=int64)

In [32]:
df = pd.DataFrame({'Real Values':y1_test, 'Predicted Values':y_pred})
df

       Real Values  Predicted Values
0                0                 0
1                0                 0
2                1                 1
3                1                 1
4                0                 0
...            ...               ...
15055            0                 0
15056            0                 0
15057            0                 0
15058            0                 0
15059            1                 1

[15060 rows x 2 columns]